<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ site.title }}</title>
  {% seo title=false %}
  </head>

  <body style="background-color: #c5d8e0">

    <!-- HEADER -->
    <div id="header_wrap" class="outer" style="background: linear-gradient(to top, #c5d8e0, #f2f2f2);">
        <header class="inner">
          <img src="logo.png" atl="{{ site.title | default: site.github.repository_name }}" style="
              position: static;
              max-width: 375px;
              padding: 0;
              margin: 0;
              border: 0;
              box-shadow: none;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              -o-box-shadow: none;
          ">
          <h2 id="project_tagline" style="color: #1b1f3a; background: none; text-shadow: #fff 0px 0px 10px;">{{ site.description | default: site.github.project_tagline }}</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer" style="background-color: #c5d8e0; color: #373737">
      <footer class="inner">
        <p class="copyright">© {{ site.title | default: site.github.repository_name }} 2020. All rights reserved.</p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
